<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQRLWXbp5hfZiNixsNbDYAsB-ovdPzQsMnSE6Nl2YC-LVO-hS15');" class='text-black'>

	<center><h1>Welcome to Word Counter</h1>
		<h3>This webapp counts number of words, number of unique words and shows you a list of unique words</h3>
		<a href="{% url 'homepage' %}"><input type="button" name="Get Started" value= 'Get Started' class='btn btn-lg btn-waves'></a>
</center>

</body>
</html>